.price {
    margin: 162px 0;
    background-color: var(--grey);
    position: relative;

}
.price::before {
    content: '';
    width: 100%;
    height: 162px;
    position: absolute;
    top: -162px;
    left: 0;
    background: 
        url(../../img/price-wave-grey-top.png) no-repeat, 
        url(../../img/price-wave-blue.png) no-repeat;
}
.price::after {
    content: '';
    width: 100%;
    height: 162px;
    position: absolute;
    bottom: -162px;
    left: 0;
    background: url(../../img/price-wave-grey-bottom.png);
}
.price__container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price__title {
    padding-bottom: 30px;
    text-align: center;
    background: url('../../img/wave-orange.png') no-repeat center bottom;
}
.price__paragraph {
    max-width: 708px;
    margin-top: 35px;
    text-align: center;
}
.price__form-background {
    width: 580px;
    overflow: hidden;
    border: 1px solid red;
    border-radius: 50%;
}
.price__wrapper {
    margin-top: 74px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.price__form {
    width: 580px;
    padding: 43px 74px 40px 48px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
}
.price__form::before {
    content: '';
    height: 100%;
    width: 34px;
    position: absolute;
    left: -17px;
    top: 0;
    background-color: #fff;
    border-radius: 50%;
}
.price__form::after {
    content: '';
    height: 100%;
    width: 34px;
    position: absolute;
    right: -17px;
    top: 0;
    background-color: #fff;
    border-radius: 50%;
}
.price__form-item {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price__form-label {
    margin-right: 18px;
    font-weight: 700;
    font-size: 18px;
}
.price__form-select-wrapper {
    flex-basis: 314px;
}
.price__form-select {
    width: 100%;
}

.price__form-range-container {
    flex-basis: 314px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price__form-range {
    flex-basis: 250px;
}
.price__form-span {
    font-weight: 500;
    font-size: 20px;
}
.price__form-span sup{
    padding: 0 2px;
    font-weight: 700;
    font-size: 9px;
}

.price__form-button {
    margin-top: 40px;
    align-self: center;
}

.price__form-shadow {
    position: absolute;
    width: 263px;
    height: 34px;
    left: 0;
    bottom: -34px;
    background: url(../../img/price-shadow.png) no-repeat;
    z-index: 10;
}

.price__pic {
    width: 886px;
    height: 421px;
    position: absolute;
    right: -840px;
    top: 50%;
    transform: translateY(-50%);
    background: url('../../img/price-img.png') no-repeat center;
    z-index: 20;
}



@media screen and (min-width: 2024px) {
    .price::before,
    .price::after {
        background-size: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .price__container {
        padding: 0 20px;
    }
    .price::before,
    .price::after {
        background-size: auto;
    }
}

@media screen and (max-width: 768px) {
    .price__container {
        padding: 0 10px;
    }
    .price__paragraph {
        font-size: 18px;
    }
    .price__wrapper {
        width: auto;
    }
    .price__pic {
        display: none;
    }
}


@media screen and (max-width: 425px) {
    .price__paragraph {
        font-size: 16px;
    }
    .price__form {
        width: 260px;
        margin-left: 0px;
        padding: 23px 44px 20px 28px;
    }
    .price__form-label {
        margin-right: 12px;
        font-size: 14px;
    }
    .price__form-range {
        max-width: 60px;
    }
    .price__form-span {
        font-size: 14px;
    }
}